{% extends 'refood_app/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Salidas" %} {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<section class="about-generic-area section-gap-60">
  <div class="container">
    <form method="post" action="{% url 'salidas' %}?date={{ selected_date }}"> {# Asegurarse de que la fecha se mantenga en el POST #}
      {% csrf_token %}
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">Formulario de Salidas</h5>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-12">
              <label for="id_date_filter">Filtrar Alimentos por Fecha de Entrada:</label>
              <input type="date" id="id_date_filter" class="form-control" value="{{ selected_date }}">
            </div>
          </div>
          <div class="row">
            <!-- Columna izquierda: formulario -->
            <div class="col-md-8">
				<fieldset>
                <legend>Beneficiario</legend>
                <div class="form-group">
                  {{ form.beneficiario }}
                </div>
              </fieldset>
              <fieldset>
                <legend>Alimento de entrada</legend>
                <p>Selecciona el tipo de alimento</p>
                <div class="form-group row">
                  {{ form.al_entrada }}
                </div>
              </fieldset>

              <fieldset>
                <legend>Numero de Tuppers</legend>
                <div class="form-group">
                  {{ form.num_tuppers }}
                </div>
              </fieldset>

              <fieldset>
                <legend>Fecha de salida</legend>
                <p>Solo modificar si se introducen alimentos que no sean de hoy</p>
                <div class="form-group">
                  {{ form.fecha_salida }}
                </div>
              </fieldset>
            </div>

            <!-- Columna derecha: botón -->
            <div class="col-md-4 d-flex align-items-start justify-content-end">
              <button type="submit" class="btn btn-primary">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

{% endblock %}

{% block javascripts %}
	{{ block.super }}
	<script>
        document.getElementById('id_date_filter').addEventListener('change', function() {
            const selectedDate = this.value;
            if (selectedDate) {
                window.location.href = "{% url 'salidas' %}?date=" + selectedDate;
            }
        });
	</script>
	<script src="{% static 'refood_app/js/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
	<script src="{% static 'refood_app/js/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
{% endblock javascripts %}